:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family:Metropolis;
}

body {
	margin-top:100px;
	display: grid;
	place-items:center;
}

.card {
  width: 400px;
}

.card__content {
	text-align: center;
	position: relative;
	padding:5em;
	transition:transform 2.5s;
	transform-style:preserve-3d;
}

.card:hover .card__content {
	transform:rotateY(.5turn);
}

.card__front,
.card__back {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:15em 2em;
	margin:0 0;
	backface-visibility:hidden;
	transform-style:preserve-3d;
	display:grid;
	align-content:center;
}

.card__front {
	background-image:url(../img/donaciones.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	
}

.card__front::before {
	content: '';
	position: absolute;
	--spacer: .6em;
	top: var(--spacer);
	bottom: var(--spacer);
	left: var(--spacer);
	right: var(--spacer);
	border: 3px solid #000;
	transform:translateZ(1.3rem);
}

.card__title {
	font-family:Yanone Kaffeesatz;
	font-size:4rem;
	transform:translateZ(85px);
	order:2;
	text-transform:uppercase;
	color:#000;
	padding-bottom:50px;
}

.card__subtitle {
	transform: translateZ(2.5rem);
	font-family:Rage;
	font-size:2.6rem;
	font-weight:300;
	line-height:1;
	color:#fff;
	padding-bottom:50px;
	
	margin-top:.5rem;
	margin-bottom:2.3rem;
	background:#000;
	text-align:center;
	padding:1rem;
	opacity:.7;
}

.card__body {
	font-family:Helvetica LT Std;
	font-size:1.5rem;
	transform:translateZ(2rem);
	line-height:2;
	margin-bottom:3rem;
	font-style:condensed;
	font-style:italic;
	font-weight:400;
}

.card__back {
	transform:rotateY(.5turn);
	background:#ffe97f;
	color:#253759;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 













